@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;200;300;400;500;600;700&family=Roboto+Flex:opsz@8..144&display=swap');

:root {
      --mainColor: #3258E8;
      --white: #fff;
      --red: #FF4949;
      --green: #1A5862;
      --yellow: #FFD37A;
      --orange: #E29600;
      --softGrey: #ebebeb;
      --font1: #232631;
      --font2: #7B7B7B;
      --darkBlue: #211B3D;
}

body {
      font-family: 'Poppins', sans-serif;
      background-color: var(--white);
}

.container-fluid {
      padding: 16px 80px;
}

/* ------------- Carosel Hero ------------- */
.carousel-indicators {
      height: 90px;
}

.carousel-indicators li{
      margin-top: 64px;
      background-color: var(--darkBlue);
      height: 16px;
      width: 16px;
      border-radius: 100px;
}

.imageCar{
      width: 100%;
}



/* ------------- Media Queries Mobile ------------- */
      @media screen and (max-width: 720px) and (min-width: 375px) {
            body {
                  font-family: 'Poppins', sans-serif;
            }

            .container-fluid {
                  padding: 16px 16px;
            }


            /* ------------- Carosel Hero ------------- */
            .carousel-indicators {
                  height: 24px;
            }
            
            .carousel-indicators li{
                  margin-top: 32px;
                  background-color: var(--darkBlue);
                  height: 10px;
                  width: 10px;
                  border-radius: 100px;
            }

      }