@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;200;300;400;500;600;700&family=Roboto+Flex:opsz@8..144&display=swap');

:root {
      --mainColor: #3258E8;
      --white: #fff;
      --red: #FF4949;
      --green: #1A5862;
      --yellow: #FFD37A;
      --orange: #E29600;
      --softGrey: #EFF5F5;
      --font1: #232631;
      --font2: #7B7B7B;
      --darkBlue: #211B3D;
}

body {
      font-family: 'Poppins', sans-serif;
      background-color: var(--white);
}

.container-fluid {
      padding: 16px 80px;
}

.jarakAtasBawah {
      margin-top: 88px;
      margin-bottom: 88px;
}

.jarakBawah {
      margin-bottom: 88px;
}

.jarakAtas {
      margin-top: 88px;
}


/* ------------- Navbar ------------- */

.navbar {
      font-size: 16px;
      background-color: var(--white);
}

.nav-item {
      margin: 16px 16px;
      color: var(--font2);
}

.dropdown-item {
      color: var(--font2);
      font-weight: lighter;
      padding: 16px;
      border-radius: 16px;
}

.dropdown-menu {
      padding: 16px;
      border: none;
      border-radius: 24px;
      box-shadow: 0px 10px 45px rgba(0, 0, 0, 0.05);
}

.dropdown-menu :hover {
      background-color: #D1DAFF;
}

.btnn {
      font-size: 16px;
      width: 160px;
      height: 56px;
      border-radius: 100px;
      background-color: var(--mainColor);
      color: var(--white);
      margin-top: 8px;
}

/* ------------- Navbar ------------- */


/* ------------- Hero ------------- */

#sectionHero .carousel-indicators {
      height: 90px;
}

#sectionHero .carousel-indicators .active{
      background-color: var(--darkBlue);
}

#sectionHero .carousel-indicators li{
      margin-top: 64px;
      background-color: var(--softGrey);
      height: 16px;
      width: 16px;
      border-radius: 100px;
}

.imageCar{
      width: 100%;
}

/* ------------- Hero ------------- */


/* ------------- Jumlah Siswa ------------- */

.section2{
      background-color: var(--mainColor);
      border-radius: 32px;
      padding: 24px;
      text-align: center;
}

.section2 h6{
      font-size: 48px;
      color: var(--white);
      font-weight: 750;
}

.section2 img{
      height: 50px;
      margin-top: 24px;
      margin-bottom: 8px;
}

.section2 p{
      font-size: 16px;
      color: var(--white);
}

/* ------------- Jumlah Siswa ------------- */


/* ------------- Berita ------------- */

#section4 {
      text-align: center;
      align-items: center;
}

.title33 {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 64px;
      color: var(--darkBlue);
}

#section4 .card {
      border-radius: 24px;
}

#section4 .card-img-top {
      border-radius: 24px 24px 0px 0px;
}

#section4 .card-text {
      color: var(--white);
      font-size: 16px;
      font-family: 'Poppins';
      line-height: 30px;
}

#section4 .paragraf3 {
      color: var(--font2);
      font-style: normal;
      font-weight: lighter;
}

#section4 .card-body {
      background-color: var(--mainColor);
      border-radius: 0px 0px 24px 24px;
}

/* ------------- Berita ------------- */


/* ------------- Keunggulan ------------- */

.icon{
      margin-top: 24px;
      margin-bottom: 8px;
      height: 56px;
}

.paragrafKhusus {
      color: var(--mainColor);
      font-size: 16px;
      font-weight: 600;
}

.title2 {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 64px;
      margin-bottom: 20px;
      color: var(--darkBlue);
}

.btn1 {
      font-size: 16px;
      width: 180px;
      height: 60px;
      border-radius: 100px;
}

.titleKeunggulan {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 30px;
      color: #232631;
}

.paragraf {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      color: var(--font2);
}

/* ------------- Keunggulan ------------- */



/* ------------- Lingkungan ------------- */

.linkBut{
      margin-right: 16px;
}

.vidioImage{
      height: 60px;
}

.section4 .row .gambarLing img{
      width: 95%;
}

.konten{
      padding: 48px 16px;
}

.btn10 {
      font-size: 16px;
      width: 180px;
      height: 60px;
      border-radius: 100px;
}

/* ------------- Lingkungan ------------- */

/* ------------- Promotion ------------- */

.kotakPromo{
      background-color: var(--mainColor);
      border-radius: 32px;
      padding: 48px 48px 0px 48px;
}

.title3 {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 72px;
      margin-bottom: 0px;
      color: var(--darkBlue);
}

.paragrafKhusus2 {
      color: var(--white);
      font-size: 16px;
      font-weight: 600;
      background: rgba(255, 255, 255, 0.1);
      width: 180px;
      text-align: center;
      padding: 16px;
      border-radius: 100px;
}

.prom{
      font-size: 30px;
      color: var(--white);
      margin-bottom: 0px;
}

.prom2{
      font-size: 48px;
      color: var(--white);
      font-weight: 900;
      margin-bottom: 0px;
}

.prom3{
      font-size: 20px;
      color: var(--white);
      margin-bottom: 0px;
      line-height: 45px;
}

.prom4{
      font-size: 19px;
      color: var(--white);
      background-color: #C82333;
      padding: 6px 14px;
      border-radius: 100px;
      font-weight: 600;
      margin-bottom: 0px;
      
}

.tebalKhus{
      font-size: 50px;
      font-weight: 900;
}

.btn00 {
      font-size: 18px;
      width: 225px;
      height: 70px;
      border-radius: 100px;
      background-color: #C82333;
      color: var(--white);
      margin-top: 24px;
      border: none;
}

/* ------------- Promotion ------------- */


/* ------------- Testimoni ------------- */
.backgorund{
      background-color: var(--darkBlue);
      padding: 60px 80px 80px 80px;
}

#testimoni .judul{
      text-align: center;
      align-items: center;
      margin-bottom: 48px;
}

#testimoni .title22 {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 64px;
      margin-bottom: 20px;
      color: var(--white);
}

#testimoni .paragraf {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      color: var(--font2);
}

#testimoni .paragrafKhusus {
      color: var(--mainColor);
      font-size: 16px;
      font-weight: 600;
}

#testimoni .card{
      border-radius: 24px;
      padding: 32px 24px;
}

#testimoni .card-title{
      font-family: 'Poppins';
      font-size: 20px;
      font-weight: 600;
      color: var(--mainColor);
}

#testimoni .isi{
      color: var(--font1);
      font-family: 'Poppins';
      font-size: 16px;
      line-height: 24px;
      font-weight: lighter;
}

#testimoni .card .profil img{
      border-radius: 100px;
      width: 52px;
}

#testimoni .prof{
      padding: 8px 8px 8px 16px;
}

#testimoni .textNama{
      font-family: 'Poppins';
      font-size: 14px;
      margin-bottom: 2px;
      font-weight: 600;
      color: var(--darkBlue);
}

#testimoni .textPekerjaan{
      font-family: 'Poppins';
      font-size: 11px;
      margin: 0px;
      color: var(--font2);
}

/* ------------- Testimoni ------------- */


/* ------------- Footer ------------- */

footer{
      background-color: var(--softGrey);
      color: var(--font1);
}

.link{
      padding-top: 32px;
}

.sosmed{
      background-color: var(--softGrey);
}

.iconCss {
      height: 16px;
      padding: 10px;
      color: var(--white);
      background-color: var(--darkBlue);
      border-radius: 100%;
      margin-left: 6px;
      margin-right: 6px;
      margin-top: 12px;
      margin-bottom: 16px;
}

.gambarFoot{
      margin-bottom: 20px;
}

.headingFoot{
      font-size: 20px;
      margin-bottom: 20px;
      font-weight: 600;
}

.contentFoot{
      font-size: 16px;
      font-weight: 200;
      color: var(--font1);
}

/* ------------- Footer ------------- */





/* ------------- Media Queries Mobile ------------- */
      @media screen and (max-width: 500px)  {
            body {
                  font-family: 'Poppins', sans-serif;
            }

            .container-fluid {
                  padding: 16px 16px;
            }

            .jarakAtasBawah {
                  margin-top: 40px;
                  margin-bottom: 40px;
            }
            
            .jarakBawah {
                  margin-bottom: 40px;
            }
            
            .jarakAtas {
                  margin-top: 40px;
            }

            /* ------------- Navbar ------------- */

            .navbar {
                  font-size: 16px;
                  background-color: var(--white);
            }

            .nav-item {
                  margin: 16px 16px;
                  color: var(--font2);
            }

            .dropdown-item {
                  color: var(--font2);
                  font-weight: lighter;
                  padding: 16px;
                  border-radius: 16px;
            }

            .dropdown-menu {
                  padding: 16px;
                  border: none;
                  border-radius: 24px;
                  box-shadow: 0px 10px 45px rgba(0, 0, 0, 0.05);
            }

            .btnn {
                  font-size: 13px;
                  width: 140px;
                  height: 48px;
                  border-radius: 100px;
                  background-color: var(--mainColor);
                  color: var(--white);
                  margin-top: 8px;
            }

            /* ------------- Navbar ------------- */


            /* ------------- Hero ------------- */

            #sectionHero .carousel-indicators {
                  height: 24px;
            }

            #sectionHero .carousel-indicators .active{
                  background-color: var(--darkBlue);
            }

            #sectionHero .carousel-indicators li{
                  margin-top: 32px;
                  background-color: var(--softGrey);
                  height: 10px;
                  width: 10px;
                  border-radius: 100px;
            }

            /* ------------- Hero ------------- */


            /* ------------- Keunggulan ------------- */
            .section3 .row{
                  text-align: center;
                  align-items: center;
            }

            .keung{
                  margin-left: 0px;
            }

            .btn1 {
                  font-size: 14px;
                  width: 160px;
                  height: 56px;
                  border-radius: 100px;
                  margin-bottom: 24px;
            }

            .section4 .row{
                  text-align: center;
                  align-items: center;
            }

            /* ------------- Keunggulan ------------- */


            /* ------------- Lingkungan ------------- */

            .linkBut{
                  margin-right: 0px;
            }

            .vidioImage{
                  height: 50px;
                  margin: 3px;
            }

            .btn10 {
                  font-size: 15px;
                  width: 150px;
                  height: 54px;
                  border-radius: 100px;
                  margin: 3px;
            }

            .section4 .row .gambarLing img{
                  width: 100%;
                  margin-bottom: 40px;
            }

            .konten{
                  padding: 0px 16px;
            }

            /* ------------- Lingkungan ------------- */

            /* ------------- Promotion ------------- */

            .kotakPromo{
                  background-color: var(--mainColor);
                  border-radius: 32px;
                  padding: 48px 32px 48px 32px;
                  text-align: center;
                  align-items: center;
            }

            .imgProm{
                  width: 100%;
                  text-align: center;
                  align-items: center;
                  margin-bottom: 24px;
            }

            .title3 {
                  font-family: 'Poppins';
                  font-style: normal;
                  font-weight: 800;
                  font-size: 44px;
                  line-height: 72px;
                  margin-bottom: 0px;
                  color: var(--darkBlue);
                  text-align: center;
                  align-items: center;
            }
            
            .paragrafKhusus2 {
                  color: var(--white);
                  font-size: 16px;
                  font-weight: 600;
                  background: rgba(255, 255, 255, 0.1);
                  width: auto;
                  text-align: center;
                  align-items: center;
                  padding: 16px;
                  border-radius: 100px;
            }
            
            .prom{
                  font-size: 22px;
                  color: var(--white);
                  margin-bottom: 0px;
            }
            
            .prom2{
                  font-size: 33px;
                  color: var(--white);
                  font-weight: 900;
                  margin-bottom: 0px;
            }
            
            .prom3{
                  font-size: 16px;
                  color: var(--white);
                  margin-bottom: 0px;
                  line-height: 40px;
            }
            
            .prom4{
                  font-size: 13px;
                  color: var(--white);
                  background-color: #C82333;
                  padding: 6px 14px;
                  border-radius: 100px;
                  font-weight: 600;
                  margin-bottom: 0px;
                  
            }
            
            .tebalKhus{
                  font-size: 30px;
                  font-weight: 900;
            }
            
            .btn00 {
                  font-size: 16px;
                  width: 200px;
                  height: 64px;
                  border-radius: 100px;
                  background-color: #C82333;
                  color: var(--white);
                  margin-top: 12px;
                  border: none;
            }

            /* ------------- Promotion ------------- */

            /* ------------- Testimoni ------------- */

            .backgorund{
                  background-color: var(--darkBlue);
                  padding: 40px 16px 40px 16px;
            }

            #testimoni .judul{
                  text-align: center;
                  align-items: center;
                  margin-bottom: 32px;
            }

            #testimoni .card{
                  border-radius: 24px;
                  padding: 32px 24px;
                  margin: 12px;
            }

            /* ------------- Testimoni ------------- */

            /* ------------- Footer ------------- */
            
            .textFooter{
                  text-align: center;
            }

            /* ------------- Footer ------------- */
            


      }