@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;200;300;400;500;600;700&family=Roboto+Flex:opsz@8..144&display=swap');

:root {
      --mainColor: #3258E8;
      --white: #fff;
      --red: #FF4949;
      --green: #1A5862;
      --yellow: #FFD37A;
      --orange: #E29600;
      --softGrey: #ebebeb;
      --font1: #232631;
      --font2: #7B7B7B;
      --darkBlue: #211B3D;
}

body {
      font-family: 'Poppins', sans-serif;
      background-color: var(--white);
}

.container-fluid {
      padding: 16px 80px;
}


/* ------------- Jumlah Siswa ------------- */

.section2{
      background-color: var(--mainColor);
      border-radius: 32px;
      padding: 32px;
      text-align: center;
}

.section2 h6{
      font-size: 48px;
      color: var(--white);
      font-weight: 750;
      /* margin-top: 16px; */
}

.section2 img{
      height: 50px;
      margin-top: 24px;
      margin-bottom: 8px;
}

.section2 p{
      font-size: 16px;
      color: var(--white);
}

/* ------------- Jumlah Siswa ------------- */




/* ------------- Media Queries Mobile ------------- */
      @media screen and (max-width: 720px) and (min-width: 375px) {
            body {
                  font-family: 'Poppins', sans-serif;
            }

            .container-fluid {
                  padding: 16px 16px;
            }
      }